@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: aliceblue;
  height: 100vh;
}

:root {
  --width-layout: 95%;
}
