*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}

:root {
  --width-layout: 95%;
}

@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC");
